.checkoutCart{
    background-color: rgb(31, 41, 90);
    color: white;
}

.checkoutCart h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.checkoutCart{
    border-radius: 10px;
    padding: 20px;
}