.bgColorBanner{
    background-color: rgb(166, 221, 255);
    padding: 20px;
}

.timmerCount{
    background-color: rgb(41, 56, 120);
    padding: 20px;

}

.btnOnTop {
    position: fixed;
    bottom: 100px;
    right: 100px;
    border-radius: 100%;
    color: white;
  }
