.avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav_buttons{
    display: flex;
    margin-top: 10px;
}

.item_active{
    font-weight: 500;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar.sticky {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.marginBottom{
    margin-bottom: 70px;
}

.number {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 3px;
    border-radius: 50%;
    position: absolute;
    top: 10;
    right: 40 !important;
    transform: translate(0, -50%);
    font-size: 0.7rem;
    font-weight: 600;
    width: 20px;
}

.nav_buttons i {
    font-size: 1.4rem;
    cursor: pointer;
}